@model IEnumerable<POSApplication.Models.PurchaseInvoiceMa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var si = 0;
}

<div class="panel panel-default">
    <div class="panel-heading"><b>Purchase Invoice List</b></div>
    <div class="panel-body">
        <p>

            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
        </p><br>
        <table id="datatable" class="table table-responsive table-bordered datatable-show-all ppp">
            <thead>
                <tr class="bg-blue">
                    <th class="col-sm-1">
                        @Html.Label("SL No")
                    </th>

                    <th>
                        Supplier Name
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        User Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    si++;
                    <tr>
                        <td>
                            @si
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                          @item.Date.ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserFullName)
                        </td>
                        <td>

                            @Html.ActionLink(" ", "Edit", new { Id = item.Id }, new { @class = "btn btn-xs-info  glyphicon glyphicon-pencil", @title = "Edit" })

                            <a class="btn btn-xs labeled btn-danger" title="Delete" href="javascript:deleteFunction(@item.Id)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>



        $("#datatable").DataTable();

        function deleteFunction(Id) {

            Swal.fire({
                position: 'top',
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: "/PurchaseInvoice/Delete",
                        type: "post",
                        data: {
                            Id: Id
                        },
                        dataType: "json",

                        success: function (flag) {
                            console.log(flag);

                            if (flag == true) {
                                Swal.fire({
                                    position: 'top',
                                    icon: 'success',
                                    title: 'Deleted Successfully!',
                                    showConfirmButton: true,
                                }).then((result) => {
                                    if (result.value) {
                                        window.location = "/PurchaseInvoice/Index";

                                    }
                                })

                            } else {
                                alert(flag.message);
                            }
                        },

                        error: function (xhr) {
                            alert('error');

                        }


                    });

                }
            })


        }


        
    </script>
}


