@model POSApplication.Models.Secu_Role

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Secu_Role</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
