@model POSApplication.Models.Secu_Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Secu_Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

      

        <dt>
            @Html.DisplayNameFor(model => model.OpBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
