@model IEnumerable<POSApplication.Models.Secu_Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title "><i class="icon-task position-left"></i>Role List</h5><hr />
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <p>
            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
        </p>
        <table class="table table-responsive table-bordered datatable-show-all">
            <thead>
                <tr class="bg-blue-700">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { Id = item.Id }, new { @class = "btn btn-xs text-info  icon-pencil4", @title = "Edit" })
                            @*@Html.ActionLink(" ", "Details", new { Id = item.Id }, new { @class = "btn btn-xs text-info  icon-file-text2", @title = "Details" })*@
                            <a class="btn btn-xs text-danger icon-cross2" title="Delete" href="javascript:deleteFunction(@item.Id)"></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/dataTable/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTable/datatables_advanced.js"></script>

@section scripts
{
    @*@Scripts.Render("~/bundles/jqueryval")
    <script src="~/Plugins/select2/select2.min.js"></script>*@
    <script>
        $(".select2").select2();

        function deleteFunction(Id) {
            var Con = confirm("are you sure want to delete this ?");
            if (Con == true) {
                $.ajax({
                    url: "/Secu_Role/DeleteItem",
                    type: "post",
                    data: {
                        Id: Id
                    },
                    dataType: "json",

                    success: function (flag) {
                        console.log(flag);

                        if (flag.flag == true) {
                            alert("Successfully deleted !");
                            window.location = "/Secu_Role/Index";
                        } else {
                            alert(flag.message);
                        }
                    },

                    error: function (xhr) {
                        alert('error');

                    }


                });
            }

        }
    </script>
}
