@model IEnumerable<POSApplication.Models.Secu_Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-default">
    <div class="panel-heading"><b>Roll List</b></div>
    


    <div class="panel-body">
        
        <p>
            @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
        </p><br>
        <table id="datatable" class="table table-responsive table-bordered datatable-show-all ppp">
            <thead>
                <tr class="bg-blue">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
             <td>          
    @Html.ActionLink(" ", "Edit", new { Id = item.Id }, new { @class = "btn btn-xs-info  glyphicon glyphicon-pencil", @title = "Edit" })
    @*@Html.ActionLink(" ", "Details", new { Id = item.Id }, new { @class = "btn btn-xs text-info  icon-file-text2", @title = "Details" })*@
    <a class="btn btn-xs labeled btn-danger" title="Delete" href="javascript:deleteFunction(@item.Id)"><i class="glyphicon glyphicon-remove"></i>   </a>
</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts
{

@*<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>*@

    <script>
   
        $("#datatable").DataTable();


        function deleteFunction(Id) {
            var Con = confirm("are you sure want to delete this ?");
            if (Con == true) {
                $.ajax({
                    url: "/Secu_Role/DeleteItem",
                    type: "post",
                    data: {
                        Id: Id
                    },
                    dataType: "json",

                    success: function (flag) {
                        console.log(flag);

                        if (flag.flag == true) {

                            Swal.fire({
                                position: 'top',
                                icon: 'success',
                                title: 'Delete Successfully!',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    window.location = "/Secu_Role/Index";
                                }
                            })

                        } else {
                            alert(flag.message);
                        }
                    },

                    error: function (xhr) {
                        alert('error');

                    }


                });
            }

        }
    </script>
}
