@model POSApplication.Models.ExpenseType

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary panel-bordered">
    <div class="panel-heading">
        <h5 class="panel-title">Update Expense Types</h5>
    </div>
    <div class="panel-body">





        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*<h4>ExpenseType</h4>
                    <hr />*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <input type="hidden" id="Message" value="@ViewBag.Message">

                <div class="form-group">
                    @Html.LabelFor(model => model.ExpenseType1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.ExpenseType1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExpenseType1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PayOver, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.PayOver, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PayOver, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {

           var message= $("#Message").val();

           if (message != "") {
               Swal.fire({
                   position: 'top',
                   icon: 'success',
                   title: 'Updated Successfully!',
                   showConfirmButton: true,
               }).then((result) => {
                   if (result.value) {
                       window.location = "/ExpenseTypes/Index";
                   }
               })
           }
        });
</script>
}
